{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Bienvenue sur mon blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quos inventore unde neque quasi nostrum modi porro incidunt quisquam, amet quibusdam, laboriosam ducimus accusantium molestiae autem quaerat optio? Sit, odio!</p>
<p>Dolorem a facilis hic reiciendis minima iusto. Suscipit debitis nisi distinctio reprehenderit porro dicta quidem. Atque aut, deserunt expedita, itaque saepe facere ea aliquam beatae quasi velit ratione officia enim!</p>
<p>Aliquam asperiores cupiditate ipsa soluta suscipit temporibus beatae recusandae explicabo alias! Iste velit, quidem fuga aliquid voluptatem, dolorum exercitationem omnis nulla accusantium quos quibusdam eum reiciendis laborum earum tempore aspernatur.</p>
<p>Magni voluptas vitae incidunt, illum, in, fuga quaerat facere ab laboriosam deserunt natus architecto tempora rem ex unde dicta debitis vero suscipit fugiat adipisci aliquam dolore nam? Molestiae, non. Illo.</p>
<p>Assumenda quia velit dolor sequi dolores a repudiandae aspernatur deserunt nemo explicabo maxime odit fugiat ullam aliquam iure, recusandae temporibus soluta porro ducimus deleniti? Nobis cupiditate veritatis aliquid. Fugiat, ullam.</p>
{% endblock %}